
.head {
    grid-area: hd;
}
.today { 
    grid-area: Tday;
}
.dontmiss {
    grid-area: dontMiss;

}
.hot {
    grid-area: Hot;

}

.grid-container {
  display: grid;  
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "Tday Tday Tday Tday dontMiss dontMiss dontMiss dontMiss Hot Hot Hot Hot";
}

.grid-container > section > article > img {
    max-width: 100%;
    height: auto;
}

